@charset "UTF-8";
@-webkit-keyframes gradientRoll {
  from {
    background: #737373; }
  50% {
    background: #2C2C2C; }
  to {
    background: #737373; } }
@keyframes gradientRoll {
  from {
    background: #737373; }
  50% {
    background: #2C2C2C; }
  to {
    background: #737373; } }

html {
  box-sizing: border-box;
  font-size: 16px;
  overflow: overlay;
  font-family: sans-serif; }

*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

* {
  scrollbar-width: auto;
  scrollbar-color: #ff8d07 #ffffff; }

*::-webkit-scrollbar {
  width: 7px; }

*::-webkit-scrollbar-track {
  background: transparent; }

*::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 5px; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  scroll-behavior: smooth; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

button, input {
  -webkit-appearance: none;
          appearance: none;
  border: none; }

select {
  -webkit-appearance: none;
  padding: 4px 0 4px 12px;
  width: 100%;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease; }
  select:focus {
    outline: none;
    border-color: #444444; }

iframe {
  border: none; }

mark {
  color: #FF8D07;
  background: none;
  font-weight: bold; }

.container {
  background: linear-gradient(128.1deg, #434343 0%, #101010 100%);
  overflow: hidden;
  min-height: 100vh; }

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.noUi-target {
  position: relative; }

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  top: -4px; }

/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0; }

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat; }

.noUi-connect {
  height: 100%;
  width: 100%; }

.noUi-origin {
  height: 10%;
  width: 100%; }

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto; }

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

.noUi-touch-area {
  height: 100%;
  width: 100%; }

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 8px;
  top: 10px; }

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 28px;
  right: -6px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto; }

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 0px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; }

.noUi-connects {
  background: #222;
  border-radius: 3px;
  top: 4px; }

.noUi-connect {
  background: linear-gradient(94.35deg, #777 0%, #333 100%); }

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB; }

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: none;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed; }

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px; }

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: none;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  background: #fff;
  color: #000;
  padding: 0px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px; }

.noUi-active .noUi-tooltip {
  display: block; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -140%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px; }

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px; }

.popup-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all ease 0.3s;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  z-index: -1; }
  .popup-container--active {
    opacity: 1;
    z-index: 10; }

.button {
  text-transform: uppercase;
  padding: 14px 1.92708vw;
  background: linear-gradient(94.35deg, rgba(72, 72, 72, 0.2) 0%, rgba(18, 18, 18, 0.2) 100%);
  border: 1.5px solid #262626;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 1.14583vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s ease; }
  .button:hover {
    border: 1.5px solid #6A6A6A; }
  .button:active {
    opacity: 0.5; }
  @media (max-width: 567px) {
    .button {
      padding: 12px 21px 13px;
      font-size: 18px;
      line-height: 22px; } }

.link {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  padding-bottom: 4px;
  cursor: pointer; }
  .link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #6A6A6A;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease; }
  .link:hover::after {
    bottom: 4px; }

.selector {
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding-bottom: 8px;
  cursor: pointer; }
  .selector::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #6A6A6A;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease; }
  .selector:hover::after {
    bottom: 6px; }
  .selector option {
    background-color: #444; }

.selector__container {
  display: inline-block; }

.selector__list {
  position: absolute;
  padding: 0 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  transition: 0.3s all ease;
  top: -8px;
  left: -10px; }
  @supports not ((-webkit-backdrop-filter: blur(30px)) or (backdrop-filter: blur(30px))) {
    .selector__list {
      background: rgba(62, 62, 62, 0.9); } }
  .selector__list--open {
    z-index: 10;
    opacity: 1; }

.selector__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 1.14583vw;
  color: #C9C9C9;
  cursor: pointer;
  margin: 10px auto;
  white-space: nowrap; }
  .selector__item--active {
    color: #FFFFFF; }
  @media (max-width: 1023px) {
    .selector__item {
      font-size: 18px;
      line-height: 22px;
      margin-right: 15px; } }
  @media (max-width: 567px) {
    .selector__item {
      font-size: 16px;
      line-height: 20px; } }

.header {
  display: -ms-flexbox;
  display: flex;
  padding: 3.6% 5.5% 0 4.6%;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 123px; }
  @media (max-width: 1024px) {
    .header {
      padding: 13px 20px 0 20px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.header__title h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.33333vw;
  line-height: 4.0625vw;
  color: #FFFFFF;
  left: -3px; }

.header__title small {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  color: #BFBFBF;
  top: -5px; }

@media (max-width: 1024px) {
  .header__title h1 {
    font-size: 34px;
    line-height: 41px; }
  .header__title small {
    font-size: 12px;
    line-height: 14px; } }

.header__link {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 1.51042vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  top: -5px; }
  @media (max-width: 1024px) {
    .header__link {
      font-size: 18px;
      line-height: 21px; } }

.search {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  top: 5px; }
  @media (max-width: 1024px) {
    .search {
      -ms-flex-order: 1;
          order: 1;
      width: 100vw; } }

.search__form {
  background: #0D0D0D;
  border-radius: 50px;
  width: 40.88542vw;
  min-width: 460px;
  max-width: 785px;
  height: 62px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease; }
  @media (max-width: 1440px) {
    .search__form {
      height: 50px; } }
  @media (min-width: 535px) {
    .search__form--open {
      height: 256px;
      border-radius: 15px; } }
  @media (max-width: 1024px) {
    .search__form {
      width: 100%;
      min-width: 0;
      max-width: inherit;
      margin-top: 7px; } }

.search__simple {
  width: 100%;
  height: 62px;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
  padding-right: 6px;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 1440px) {
    .search__simple {
      height: 50px; } }

.search__input {
  background: none;
  -ms-flex-positive: 1;
      flex-grow: 1;
  border: none;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 1.14583vw;
  color: #AEAEAE; }
  .search__input:focus {
    outline: none; }
  @media (max-width: 1024px) {
    .search__input {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #E5E5E5; } }

.search__open-adv {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background: url("../img/filters.svg") no-repeat;
  background-size: cover; }
  @media (max-width: 535px) {
    .search__open-adv {
      display: none; } }

.search__button {
  height: 52px; }
  @media (max-width: 1440px) {
    .search__button {
      height: 39px; } }
  @media (max-width: 1024px) {
    .search__button {
      font-size: 12px;
      line-height: 14px;
      padding: 12px 23px; } }

.search__nav {
  position: absolute;
  top: 80px;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 0.72917vw;
  line-height: 0.88542vw; }
  .search__nav a {
    margin-left: 25px; }
  @media (max-width: 1440px) {
    .search__nav {
      top: 70px; } }
  @media (max-width: 1024px) {
    .search__nav {
      font-size: 11px;
      line-height: 13px; } }
  @media (max-width: 535px) {
    .search__nav {
      top: 80px;
      right: 50%;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
      font-size: 11px;
      line-height: 13px; } }

.search__help {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #737373;
  display: inline-block;
  text-align: center;
  top: -3px; }
  @media (min-width: 535px) {
    .search__help {
      display: none; } }

.search__advanced {
  -ms-flex-align: baseline;
      align-items: baseline;
  max-height: 0;
  padding: 10px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif; }
  @media (min-width: 535px) {
    .search__advanced {
      display: -ms-flexbox;
      display: flex;
      max-height: inherit;
      -ms-flex-align: start;
          align-items: flex-start; } }

.search__category-list {
  overflow-y: scroll;
  overflow-x: hidden;
  width: -webkit-max-content;
  width: max-content;
  height: 190px;
  color: #888;
  text-align: left;
  font-size: 0.9375vw; }
  @media (max-width: 1024px) {
    .search__category-list {
      font-size: 18px; } }

.search__sliders {
  margin: 0 auto; }

.search__slider {
  position: relative;
  max-width: 300px;
  width: 15vw; }
  @media (max-width: 1024px) {
    .search__slider {
      width: 35vw; } }

.search__slider:last-child {
  top: 100px; }

.search__selects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  height: 190px;
  width: -webkit-min-content;
  width: min-content; }

.search__select-label {
  color: #FFFFFF; }

.select--search {
  color: #fff;
  font-size: 1.04167vw;
  font-weight: 300; }

input[type=checkbox] {
  background-color: #DDD;
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: relative;
  top: 5px; }

input[type=checkbox]:checked {
  background: #555555 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat; }

.info {
  margin-top: 100px;
  margin-left: 86px;
  margin-bottom: 30px;
  display: grid;
  grid-row-gap: 28px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none; }
  @media (max-width: 1023px) {
    .info {
      margin-left: 20px;
      grid-row-gap: 40px;
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 768px) {
    .info {
      margin-right: 20px;
      margin-top: 70px;
      grid-template-columns: repeat(1, 1fr); } }

.info__block {
  width: 20.72917vw; }
  @media (max-width: 1023px) {
    .info__block {
      width: 38.86719vw; } }
  @media (max-width: 768px) {
    .info__block {
      max-width: 398px;
      width: 100%; } }

.info__tite {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 1.45833vw;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-transform: uppercase; }
  @media (max-width: 1023px) {
    .info__tite {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 5px; } }

.info__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  color: #BFBFBF;
  margin-bottom: 25px; }
  @media (max-width: 1023px) {
    .info__text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px; } }

.info__link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 1.14583vw;
  color: #FFFFFF; }
  @media (max-width: 1023px) {
    .info__link {
      font-size: 16px;
      line-height: 20px; } }

.result {
  margin-top: 100px;
  margin-left: 86px;
  margin-bottom: 20px; }
  @media (max-width: 1024px) {
    .result {
      margin-left: 20px; } }
  @media (max-width: 768px) {
    .result {
      margin-right: 20px;
      margin-top: 70px; } }

.result__list {
  display: grid;
  grid-row-gap: 28px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: none;
  margin-bottom: 20px; }
  @media (max-width: 1024px) {
    .result__list {
      grid-row-gap: 40px;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center; } }

.result__nav {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.45833vw;
  line-height: 1.5625vw;
  color: #FFFFFF;
  -ms-flex-align: center;
      align-items: center;
  gap: 15px; }
  @media (max-width: 1024px) {
    .result__nav {
      font-size: 20px;
      line-height: 24px;
      margin-left: 0;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (max-width: 768px) {
    .result__nav {
      padding: 5px 15px;
      font-size: 14px;
      line-height: 16px; } }

.result__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.08333vw; }
  @media (max-width: 1024px) {
    .result__button {
      padding: 15px 25px;
      font-size: 24px; } }
  @media (max-width: 768px) {
    .result__button {
      padding: 15px 25px;
      font-size: 20px; } }
  @media (max-width: 567px) {
    .result__button {
      padding: 8px 15px;
      font-size: 18px;
      line-height: 22px; } }

.card {
  background: #212121;
  border-radius: 20px;
  width: 40.9375vw;
  height: 13.28125vw;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1024px) {
    .card {
      max-width: 660px;
      width: 92.95775vw;
      height: 30.10563vw; } }
  @media (max-width: 567px) {
    .card {
      max-width: 528px;
      width: 87.5vw;
      height: 28.4375vw; } }

.card__loading {
  width: 40.9375vw;
  height: 13.28125vw;
  border-radius: 20px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: gradientRoll;
          animation-name: gradientRoll;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }
  @media (max-width: 1024px) {
    .card__loading {
      max-width: 660px;
      width: 92.95775vw;
      height: 30.10563vw; } }
  @media (max-width: 567px) {
    .card__loading {
      max-width: 528px;
      width: 87.5vw;
      height: 28.4375vw; } }

.card__img {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: gradientRoll;
          animation-name: gradientRoll;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  border-radius: 20px;
  aspect-ratio: 4 / 5;
  height: 100%;
  max-width: 9.47917vw; }
  @media (max-width: 1024px) {
    .card__img {
      max-width: 21.65493vw; } }
  @media (max-width: 567px) {
    .card__img {
      aspect-ratio: 4 / 6;
      max-width: 24.375vw; } }

.card__info {
  padding: 15px 50px 15px 40px;
  max-width: 100%;
  overflow: hidden; }
  @media (max-width: 1024px) {
    .card__info {
      padding: 10px 24px 7px 30px; } }
  @media (max-width: 567px) {
    .card__info {
      padding: 10px 14px 12px 10px; } }

.card__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.35417vw;
  line-height: 1.66667vw;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 12px; }
  @media (max-width: 1024px) {
    .card__title {
      font-size: 20px;
      line-height: 24px; } }
  @media (max-width: 568px) {
    .card__title {
      margin-bottom: 6px;
      font-size: 14px;
      line-height: 17px; } }

.card__year {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  color: #FFFFFF;
  margin-right: 2.08333vw;
  margin-bottom: 13px; }
  @media (max-width: 1024px) {
    .card__year {
      font-size: 18px;
      line-height: 21px; } }
  @media (max-width: 568px) {
    .card__year {
      font-size: 12px;
      line-height: 15px; } }

.card__rating {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  color: #5AFF91;
  margin-right: 2.08333vw;
  margin-bottom: 13px; }
  @media (max-width: 1024px) {
    .card__rating {
      font-size: 18px;
      line-height: 21px; } }
  @media (max-width: 568px) {
    .card__rating {
      font-size: 12px;
      line-height: 15px; } }

.card__agelimit {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  color: #FFFFFF;
  margin-bottom: 13px; }
  @media (max-width: 1024px) {
    .card__agelimit {
      font-size: 18px;
      line-height: 21px; } }
  @media (max-width: 568px) {
    .card__agelimit {
      font-size: 12px;
      line-height: 15px; } }

.card__desc {
  max-height: 70%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  color: #9C9C9C;
  overflow: scroll; }
  .card__desc::-webkit-scrollbar {
    width: 0px; }
  @media (max-width: 1024px) {
    .card__desc {
      font-size: 18px;
      line-height: 21px; } }
  @media (max-width: 567px) {
    .card__desc {
      font-size: 0;
      line-height: 0; }
      .card__desc::after {
        content: 'Поверните для описания';
        position: absolute;
        display: contents;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        color: #787878; } }

.card__other {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  color: #9C9C9C; }
  @media (max-width: 1024px) {
    .card__other {
      font-size: 18px;
      line-height: 21px; } }
  @media (max-width: 567px) {
    .card__other {
      font-size: 10px;
      line-height: 12px; } }

@media (max-width: 1023px) {
  .filminfo {
    max-width: 660px;
    width: 92.95775vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; } }

@media (max-width: 567px) {
  .filminfo {
    max-width: 528px;
    width: 87.5vw; } }

@media (max-width: 1023px) {
  .filminfo__texts {
    -ms-flex-order: 2;
        order: 2; } }

@media (max-width: 1023px) {
  .filminfo__nav {
    -ms-flex-order: 1;
        order: 1; } }

.filminfo__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1.35417vw;
  line-height: 1.66667vw;
  color: #FFFFFF;
  margin-bottom: 5%; }
  @media (max-width: 1023px) {
    .filminfo__title {
      font-size: 26px;
      line-height: 32px; } }
  @media (max-width: 567px) {
    .filminfo__title {
      font-size: 18px;
      line-height: 22px; } }

.filminfo__num {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 5%;
  margin-right: 45px; }
  .filminfo__num--rating {
    color: #5AFF91; }
  @media (max-width: 1023px) {
    .filminfo__num {
      font-size: 20px;
      line-height: 24px;
      margin-right: 25px; } }
  @media (max-width: 567px) {
    .filminfo__num {
      font-size: 16px;
      line-height: 20px; } }

.filminfo__desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  color: #9C9C9C;
  margin-bottom: 5%;
  padding-right: 10%; }
  @media (max-width: 1023px) {
    .filminfo__desc {
      font-size: 20px;
      line-height: 24px;
      max-height: 200px;
      overflow-y: scroll; } }
  @media (max-width: 567px) {
    .filminfo__desc {
      font-size: 16px;
      line-height: 20px; } }

.filminfo__other {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 1.14583vw;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 2%;
  margin-right: 32px; }
  @media (max-width: 1023px) {
    .filminfo__other {
      font-size: 18px;
      line-height: 22px;
      margin-right: 15px; } }
  @media (max-width: 567px) {
    .filminfo__other {
      font-size: 16px;
      line-height: 20px; } }

.watch {
  margin-top: 80px;
  margin-left: 86px;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1023px) {
    .watch {
      margin-left: 20px;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; } }
  @media (max-width: 768px) {
    .watch {
      margin-right: 20px;
      margin-top: 70px; } }

.watch__player {
  min-width: 51.04167vw;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: gradientRoll;
          animation-name: gradientRoll;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-right: 5%; }
  @media (max-width: 1024px) {
    .watch__player {
      max-width: 660px;
      width: 92.95775vw;
      margin-bottom: 25px; } }
  @media (max-width: 567px) {
    .watch__player {
      max-width: 528px;
      width: 87.5vw; } }

.info-popup {
  background: linear-gradient(108.51deg, rgba(23, 23, 23, 0.8) 0%, rgba(17, 17, 17, 0.8) 100%);
  border-radius: 15px;
  padding: 40px 45px;
  width: 50%;
  height: 60%;
  overflow-y: scroll; }
  .info-popup::-webkit-scrollbar {
    width: 0px; }
  .info-popup h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.45833vw;
    color: #FFFFFF;
    margin-bottom: 2%;
    text-transform: uppercase; }
  .info-popup p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.04167vw;
    line-height: 1.25vw;
    color: #BFBFBF; }
  .info-popup a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375vw;
    line-height: 1.45833vw; }
  @media (max-width: 768px) {
    .info-popup {
      min-width: 100%;
      min-height: 100%;
      border-radius: 0; }
      .info-popup h2 {
        font-size: 24px;
        line-height: 28px; }
      .info-popup p {
        font-size: 20px;
        line-height: 24px; }
      .info-popup a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px; } }
