.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1512px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 40px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 156px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 -5px;
}

.u-section-1 .u-text-3 {
  margin: 60px auto 0 162px;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 172px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1512px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  background-image: none;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1247px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 122px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -7px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 127px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 136px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1247px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -2px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 107px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }
}