<section class="info">
  <div class="info__block">
    <h2 class="info__tite">ОБНОВЛЕНИЕ • 09.03.22</h2>
    <p class="info__text">
      Обновлён дизай, добавлены новые инфо-блоки, добавлены подборки фильмов,
      исправлены ошибки вёрстки, добавлен личный кабинет
    </p>
    <a class="link info__link" onclick="popupShow('update')">подробнее</a>
  </div>
  <div class="info__block">
    <h2 class="info__tite">ПОДДЕРЖАТЬ САЙТ</h2>
    <p class="info__text">
      Вся реклама в плеерах мне не принадлежит.
      <br>По этому вы можете помочь проекту включив Arc (слева внизу) или отправив донат...
    </p>
    <a class="link info__link" onclick="popupShow('donate')">подробнее</a>
  </div>
  <div class="info__block">
    <h2 class="info__tite">ОТКЛЮЧЕНИЕ РЕКЛАМЫ</h2>
    <p class="info__text">
      К сожалению отключить рекламу в плеерах на стороне сайта не возможно.
      <br>Я собрал различные способы блокировки рекламы для разных устройств и ссылки
      для их применения в “один” клик
    </p>
    <a class="link info__link" onclick="popupShow('antiad')">подробнее</a>
  </div>
  <div class="info__block">
    <h2 class="info__tite">СОВМЕСТНЫЙ ПРОСМОТР</h2>
    <p class="info__text">
      Если вы хотите смотреть кино вместе
      со своими друзьями, вы можете установить расширение <a class="link" href="#">SyncWatch</a>
    </p>
  </div>
  <div class="info__block">
    <h2 class="info__tite">DMCA</h2>
    <p class="info__text">
      Этот сайт является поисковиком и все видео из сторонних API источников.
      <br>По вопросам рекламы в плеерах, ошибок, авторского права и всего остального, пишите на контактные данные видео-хостингов!
    </p>
    <a class="link info__link" onclick="popupShow('dmca')">подробнее</a>
  </div>
</section>
