<section class="info">
  <div class="info__block">
    <h2 class="info__tite">ОБНОВЛЕНИЕ • 18.04.22</h2>
    <p class="info__text">
      Теперь сайт можно установить, <br> как приложение <br>
      Что-то не работает? Вам <a class="link" target="_blank" href="https://vk.com/im?sel=-180869193">сюда</a>
    </p>
    <a class="link info__link" onclick="popupShow('update')">подробнее</a>
  </div>
  <div class="info__block">
    <h2 class="info__tite">ПОДДЕРЖАТЬ САЙТ</h2>
    <p class="info__text">
      Вся реклама в плеерах мне не принадлежит.
      <br>По этому вы можете помочь проекту включив Arc (слева внизу) или отправив донат...
    </p>
    <a class="link info__link" onclick="popupShow('donate')">подробнее</a>
  </div>
  <div class="info__block">
    <h2 class="info__tite">ОТКЛЮЧЕНИЕ РЕКЛАМЫ</h2>
    <p class="info__text">
      Я собрал различные способы блокировки рекламы для разных устройств и ссылки
      для их применения в “один” клик
    </p>
    <a class="link info__link" onclick="popupShow('antiad')">подробнее</a>
  </div>
  <div class="info__block">
    <h2 class="info__tite">СОВМЕСТНЫЙ ПРОСМОТР</h2>
    <p class="info__text">
      Если вы хотите смотреть кино вместе
      со своими друзьями, вы можете установить расширение <a class="link" href="#">SyncWatch</a>
    </p>
  </div>
  <div class="info__block">
    <h2 class="info__tite">DMCA</h2>
    <p class="info__text">
      Этот сайт является поисковиком и все видео из сторонних API источников.
    </p>
    <a class="link info__link" onclick="popupShow('dmca')">подробнее</a>
  </div>
</section>
