<section class="watch">
  <iframe class="watch__player" allowfullscreen sandbox="allow-same-origin allow-scripts" allow="autoplay *" src=""></iframe>
  <div class="filminfo">
    <div class="filminfo__texts">
      <h2 class="filminfo__title" id="title">Загрузка...</h2>
      <small class="filminfo__num" id="year"></small>
      <small class="filminfo__num filminfo__num--rating" id="rating"></small>
      <small class="filminfo__num" id="age"></small>
      <p class="filminfo__desc" id="desc"></p>
    </div>
    <div class="filminfo__nav">
      <select class="selector filminfo__other" id="filmState" value="0">
        <option value="0">Не просмотрено</option>
        <option value="1">Смотрю</option>
        <option value="2">Просмотрено</option>
        <option value="3">Запланировано</option>
      </select>
      <a class="link filminfo__other" onclick="watchSearch('sequels_and_prequels')">Связанное</a>
      <a class="link filminfo__other" onclick="watchSearch('similars')">Похожее</a>
      <br>
      <p class="filminfo__other">Плеер:</p>
      <select class="selector filminfo__other" id="playerUsed" value="0">
        <option value="0">ALPHA</option>
        <option value="1">BETA</option>
        <option value="2">GAMMA</option>
      </select>
    </div>
  </div>
</section>
