<section class="watch">
  <iframe class="watch__player" src="" width="" height=""></iframe>
  <div class="filminfo">
    <h2 class="filminfo__title">Название фильма</h2>
    <small class="filminfo__num">год</small>
    <small class="filminfo__num filminfo__num--rating">оценка</small>
    <small class="filminfo__num">органичение</small>
    <p class="filminfo__desc">Описание</p>
    <select class="selector filminfo__other" id="filmState">
      <option value="0">Не просмотрено</option>
      <option value="1">Смотрю</option>
      <option value="2">Просмотрено</option>
      <option value="3">Запланировано</option>
    </select>
    <a class="link filminfo__other" href="#">Связанное</a>
    <a class="link filminfo__other" href="#">Похожее</a>
    <br>
    <p class="filminfo__other">Плеер:</p>
    <select class="selector filminfo__other" id="playerUsed">
      <option value="0">ALPHA</option>
      <option value="1">BETA</option>
      <option value="2">GAMMA</option>
    </select>
  </div>
</section>
