.info {
  margin-top: 100px;
  margin-left: 86px;
  margin-bottom: 30px;
  display: grid;
  grid-row-gap: 28px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;

  @media (max-width: 1023px) {
    margin-left: 20px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    margin-right: 20px;
    margin-top: 70px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.info__block {
  width: rel(1920, 398);

  @media (max-width: 1023px) {
    width: rel(1024, 398);
  }

  @media (max-width: 768px) {
    max-width: 398px;
    width: 100%;
  }
}

.info__tite {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: rel(1920, 24);
  line-height: rel(1920, 28);
  color: #FFFFFF;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media (max-width: 1023px) {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
}

.info__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: rel(1920, 20);
  line-height: rel(1920, 24);
  color: #BFBFBF;
  margin-bottom: 25px;

  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.info__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: rel(1920, 18);
  line-height: rel(1920, 22);
  color: #FFFFFF;

  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 20px;
  }
}
