.result {
  margin-top: 100px;
  margin-left: 86px;
  margin-bottom: 20px;

  @media (max-width: 1024px) {
    margin-left: 20px;
  }

  @media (max-width: 768px) {
    margin-right: 20px;
    margin-top: 70px;
  }
}

.result__list {
  display: grid;
  grid-row-gap: 28px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: none;
  margin-bottom: 20px;

  @media (max-width: 1024px) {
    grid-row-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

.result__nav {
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: rel(1920, 28);
  line-height: rel(1920, 30);
  color: #FFFFFF;
  align-items: center;
  gap: 15px;

  @media (max-width: 1024px) {
    font-size: 20px;
    line-height: 24px;
    margin-left: 0;
    justify-content: center;
  }

  @media (max-width: 768px) {
    padding: 5px 15px;
    font-size: 14px;
    line-height: 16px;
  }
}

.result__button {
  width: fit-content;
  font-size: rel(1920, 40);

  @media (max-width: 1024px) {
    padding: 15px 25px;
    font-size: 24px;
  }

  @media (max-width: 768px) {
    padding: 15px 25px;
    font-size: 20px;
  }

  @media (max-width: 567px) {
    padding: 8px 15px;;
    font-size: 18px;
    line-height: 22px;
  }
}
