.search {
  align-self: baseline;
  top: 5px;

  @media (max-width: 1024px) {
    order: 1;
    width: 100vw;
  }
}

.search__form {
	background: #0D0D0D;
	border-radius: 50px;
	width: rel(1920, 785);
  min-width: 460px;
	max-width: 785px;
	height: 62px;
  overflow: hidden;
	z-index: 1;
	transition: all 0.3s ease;

  @media (max-width: 1440px) {
    height: 50px;
  }

  @media (min-width: 535px) {
    &--open {
      height: 256px;
      border-radius: 15px;
    }
  }

  @media (max-width: 1024px) {
    width: 100%;
    min-width: 0;
  	max-width: inherit;
    margin-top: 7px;
  }
}

.search__simple {
  width: 100%;
  height: 62px;
  display: flex;
  padding-left: 16px;
  padding-right: 6px;
  align-items: center;

  @media (max-width: 1440px) {
    height: 50px;
  }
}

.search__input {
  background: none;
  flex-grow: 1;
  border: none;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: rel(1920, 18);
  line-height: rel(1920, 22);
  color: #AEAEAE;

  &:focus {
    outline: none;
  }

  @media (max-width: 1024px) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #E5E5E5;
  }
}

.search__open-adv {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background: url('../img/filters.svg') no-repeat;
  background-size: cover;

  @media (max-width: 535px) {
    display: none;
  }
}

.search__button {
  height: 52px;

  @media (max-width: 1440px) {
    height: 39px;
  }

  @media (max-width: 1024px) {
    font-size: 12px;
    line-height: 14px;
    padding: 12px 23px;
  }
}

.search__nav {
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;

  font-weight: 400;
  font-size: rel(1920, 14);
  line-height: rel(1920, 17);

  & a {
    margin-left: 25px;
  }

  @media (max-width: 1440px) {
    top: 70px;
  }

  @media (max-width: 1024px) {
    font-size: 11px;
    line-height: 13px;
  }

  @media (max-width: 535px) {
    top: 80px;
    right: 50%;
    transform: translateX(50%);
    font-size: 11px;
    line-height: 13px;
  }
}

.search__help {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #737373;
  display: inline-block;
  text-align: center;
  top: -3px;

  @media (min-width: 535px) {
    display: none;
  }
}


.search__advanced {
  align-items: baseline;
  max-height: 0;
  padding: 10px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

  @media (min-width: 535px) {
    display: flex;
    max-height: inherit;
    align-items: flex-start;
  }
}

.search__category-list {
  overflow-y: scroll;
  overflow-x: hidden;
  width: max-content;
	height: 190px;
	color: #888;
	text-align: left;
  font-size: rel(1920, 18);

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

.search__sliders {
  margin: 0 auto;
}

.search__slider {
  position: relative;
  max-width: 300px;
  width: 15vw;

  @media (max-width: 1024px) {
    width: 35vw;
  }
}
.search__slider:last-child {
  top: 100px;
}

.search__selects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 190px;
  width: min-content;
}
.search__select-label {
  color: #FFFFFF;
}

.select--search {
  color: #fff;
  font-size: rel(1920, 20);
  font-weight: 300;
}

input[type=checkbox]{
    background-color: #DDD;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

input[type=checkbox]:checked{
    background: #555555 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}
