html {
  box-sizing: border-box;
  font-size: 16px;
  overflow: overlay;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #ff8d07 #ffffff;
}
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 5px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button, input {
  appearance: none;
  border: none;
}

select {
  -webkit-appearance: none;
  padding: 4px 0 4px 12px;
  width: 100%;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: #444444;
  }
}

mark {
  color: #FF8D07;
  background: none;
  font-weight: bold;
}
