<section class="info-popup" id="antiad">
  <h2>Отключение рекламы</h2>
  <p>
    К сожалению отключить рекламу в плеерах на стороне сайта не возможно.
    <br>
    <br>1. Расширения: <a class="link" href="https://chrome.google.com/webstore/detail/adblock-plus-free-ad-bloc/cfhdojbkjhnklbpkdaibdccddilifddb">AdBlock+</a> <a class="link" href="https://adguard.com/en/adguard-browser-extension/overview.html">AdGuard</a>
    <br>2. Мобильные браузеры: <a class="link" href="https://play.google.com/store/apps/details?id=com.microsoft.emmx">Edge</a> <a class="link" href="https://play.google.com/store/apps/details?id=org.mozilla.firefox">Firefox</a> <a class="link" href="https://play.google.com/store/apps/details?id=com.opera.browser&hl=en&gl=US">Opera</a>
    <br>3. DNS (не стабильно): <a class="link" href="https://adguard-dns.io/ru/public-dns.html">AdGuard</a>
    <br>4. Приложения: <a class="link" href="https://adguard.com/en/adguard-windows/overview.html">AdGuard</a>
  </p>
</section>
