<section class="info-popup" id="donate">
  <h2>Поддержать сайт</h2>
  <p>Arc <img height="32px" width="32px" src="https://arc.io/_nuxt/img/mock-widget.ec2f0aa.svg" style="top: 10px;"> - это сеть доставки контента, когда вы подключаетесь к ней, вы становитесь
    мостом между пользователем и сервером, это ускоряет загрузку контента.
    <br>Я получаю деньги, когда через мосты  с моего сайта проходит трафик.
    <br>ВНИМАНИЕ: Подключайтесь к Arc только на безлимитных тарифах интернета.</p>
  <br>
  <p>А так же вы можете отправить мне донат по этой <a class="link" href="https://skyedge.xyz">ссылке</a></p>
</section>
