<section class="info-popup" id="update">
  <h2>12.04.2022</h2>
  <p>- Добавлена поддержка браузеров смарт-ТВ и устаревших</p>
  <p>- Исправлены мелкие и средние ошибки на страницах поиска и просмотра</p>
  <p>- Добавлены преподключения к плеерам для ускорения загрузки</p>
  <p>оффтоп: Личный кабинет разрабатывается, но многое я ещё только изучаю</p>
  <br>
  <h2>04.04.2022</h2>
  <p>- Поиск связанного теперь снова работает</p>
  <p>- Улучшена навигация по страницам</p>
  <p>- Ускорена работа поиска</p>
  <p>- И ещё несколько мелких исправлений</p>
  <br>
  <h2>25.03.2022</h2>
  <p>- Весь сайт переписан с нуля со сборщиком</p>
  <p>- Обновлён дизайн</p>
  <p>- Добавлены новые инфоблоки</p>
  <p>- Подготовка к появлению личного кабинета</p>
  <p>- Подключена новая версия API поиска</p>
</section>
