.card {
  width: 100%;
  height: 90px;
  display: flex;
  position: relative;
  background: #212121;
  border-radius: 20px;
  margin-bottom: 20px;
}
@media (min-width: 535px) {
  .card {
    height: 170px;
  }
}
@media (min-width: 1024px) {
  .card {
    height: 255px;
  }
}

.card__loading {
  max-width: 100%;
}

.card__img {
  width: 78px;
  height: 100%;
  margin-right: 10px;
  border-radius: 20px;
  object-fit: cover;
  background: linear-gradient(140.51deg, #9C9C9C 1.96%, #2C2C2C 100%);
  transition: all 0.5s ease;
}
.card__img:hover {
  transform: translateY(-15px);
}
@media (min-width: 535px) {
.card__img {
    margin-right: 20px;
    width: 123px;
  }
}
@media (min-width: 1024px) {
.card__img {
    margin-right: 40px;
    width: 182px;
  }
}

.card__info {
  padding: 10px 0;
  padding-right: 15px;
  max-width: 60vw;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card__info {
    padding: 20px 0;
    padding-right: 15px;
  }
}

.card__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(18px + 0.3vw);
  line-height: calc(18px + 0.3vw);
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
}
.card__title:hover {
  background: linear-gradient(140.51deg, #9C9C9C 1.96%, #2C2C2C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__year {
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(16px + 0.3vw);
  line-height: calc(16px + 0.3vw);
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}
@media (min-width: 1024px) {
  .card__year {
    margin-bottom: 20px;
  }
}

.card__rating {
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(15px + 0.3vw);
  line-height: calc(15px + 0.3vw);
  color: #aea;
  display: inline-block;
}

.card__descript {
  display: none;
  -ms-overflow-style: none;
	scrollbar-width: none;
	height: 60%;
	color: #888;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(14px + 0.3vw);
  line-height: calc(14px + 0.3vw);
  overflow-y: scroll;
}
@media (min-width: 535px) {
  .card__descript {
    display: block;
  }
}

.card__help {
  position: absolute;
  bottom: 10px;
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(10px + 0.3vw);
  line-height: calc(10px + 0.3vw);
  color: #777;
  display: block;
}
@media (min-width: 535px) {
  .card__help {
    display: none;
  }
}
