.view {
  display: none;
}
@media (min-width: 535px) {
  .view {
    display: block;
  }
}

.view__player {
  background: linear-gradient(100.88deg, #2C2C2C 0.24%, #737373 100%);
  border-radius: 20px;
  width: 100%;
  max-width: 917px;
  height: 70vh;
  max-height: 500px;
  margin: 0 auto;
  margin-bottom: 20px;

}
.view__player iframe {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.view__info {
  max-width: 720px;
  margin: 0 auto;
}

.view__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(18px + 0.3vw);
  line-height: calc(18px + 0.3vw);
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view__year {
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(16px + 0.3vw);
  line-height: calc(16px + 0.3vw);
  margin-bottom: 20px;
  margin-right: 10px;
  display: inline-block;
}

.view__rating {
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(15px + 0.3vw);
  line-height: calc(15px + 0.3vw);
  color: #aea;
  display: inline-block;
}

.view__descript {
  -ms-overflow-style: none;
	scrollbar-width: none;
	height: 135px;
	color: #888;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(14px + 0.3vw);
  line-height: calc(16px + 0.3vw);
  overflow-y: scroll;
  margin-bottom: 20px;
}
